## Imports and load data

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [82]:
from spacy import displacy

In [346]:
from IPython.display import HTML

In [3]:
df = pd.read_csv('../raw_data/train.csv')
df.head()

,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,423A1CA112E2,1.622628e+12,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,423A1CA112E2,1.622628e+12,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,423A1CA112E2,1.622628e+12,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,423A1CA112E2,1.622628e+12,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,423A1CA112E2,1.622628e+12,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...

## Explorator

In [14]:
## Check whether there are a lot of type change in the middle of a sentence
count=0
others=[]
for i in range(len(df)):
    if df.loc[i,'discourse_text'][-1]!='.':
        count+=1
        others.append(df.loc[i,'discourse_text'][-1])

In [17]:
count/len(df)

0.7014200273055519

In [30]:
discourse_type = df['discourse_type'].unique().tolist()
discourse_type

['Lead',
 'Position',
 'Evidence',
 'Claim',
 'Concluding Statement',
 'Counterclaim',
 'Rebuttal']

In [91]:
df_grouped=df.groupby('id').agg(list).reset_index()

In [31]:
df_grouped.head(3)

,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
id,,,,,,,
0000D23A521A,"[1617734767734.0, 1617734782429.0, 16177348077...","[0.0, 170.0, 358.0, 438.0, 627.0, 722.0, 836.0...","[170.0, 357.0, 438.0, 626.0, 722.0, 836.0, 101...","[Some people belive that the so called ""face"" ...","[Position, Evidence, Evidence, Claim, Counterc...","[Position 1, Evidence 1, Evidence 2, Claim 1, ...",[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 1...
00066EA9880D,"[1621104238021.0, 1621104245981.0, 16211043488...","[0.0, 456.0, 638.0, 738.0, 1399.0, 1488.0, 231...","[455.0, 592.0, 738.0, 1398.0, 1487.0, 2219.0, ...",[Driverless cars are exaclty what you would ex...,"[Lead, Position, Claim, Evidence, Claim, Evide...","[Lead 1, Position 1, Claim 1, Evidence 1, Clai...",[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 1...
000E6DE9E817,"[1617296637311.0, 1617296650644.0, 16172966674...","[17.0, 64.0, 158.0, 310.0, 438.0, 551.0, 776.0...","[56.0, 157.0, 309.0, 422.0, 551.0, 775.0, 961....","[I am arguing against the policy change , even...","[Position, Counterclaim, Rebuttal, Evidence, C...","[Position 1, Counterclaim 1, Rebuttal 1, Evide...","[2 3 4 5 6 7 8, 10 11 12 13 14 15 16 17 18 19 ..."

In [80]:
## create function to retrieve the original essay
def get_full_text(essay_id):
    path=f'../raw_data/train/{essay_id}.txt'
    with open(path,'r') as f:
        text = f.read()
    return text

In [88]:
get_full_text('0000D23A521A')

'Some people belive that the so called "face" on mars was created by life on mars. This is not the case. The face on Mars is a naturally occuring land form called a mesa. It was not created by aliens, and there is no consiracy to hide alien lifeforms on mars. There is no evidence that NASA has found that even suggests that this face was created by aliens.\n\nA mesa is a naturally occuring rock formation, that is found on Mars and Earth. This "face" on mars only looks like a face because humans tend to see faces wherever we look, humans are obviously extremely social, which is why our brain is designed to recognize faces.\n\nMany conspiracy theorists believe that NASA is hiding life on Mars from the rest of the world. These people would be very wrong. If NASA found life on Mars, then they would get millions of people\'s attention. NASA\'s budget would increase drasticly, which means that their workers would get paid more. There is no good reason that NASA would hide life on Mars from the rest of the world.\n\nSo, NASA is not hiding life on Mars from us, and they are not trying to trick us into thinking that the "face" on mars is just a mesa, because it actually is. NASA hiding life would be illogical, because if they found life on Mars, they would make a lot of money, and we all know that the people at NASA aren\'t illogical people.'

In [212]:
essay_ids=df['id'].unique().tolist()

In [220]:
full_texts={id_:get_full_text(id_) for id_ in essay_ids}

SyntaxError: invalid syntax (3508728097.py, line 3)

In [225]:
essays_df=pd.DataFrame(full_texts,index=[0]).T.reset_index().rename(columns={'index':'id',0:'text'})

In [230]:
essays_df.set_index('id',inplace=True)

In [118]:
displacy.render(dict(text='This is a test.',ents=[{'start':2,'end':5,'label':'haha'}]),style='ent',manual=True,jupyter=True)

In [119]:
df.head()

,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,423A1CA112E2,1.622628e+12,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,423A1CA112E2,1.622628e+12,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,423A1CA112E2,1.622628e+12,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,423A1CA112E2,1.622628e+12,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,423A1CA112E2,1.622628e+12,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...

In [165]:
df_

,index,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,0,423A1CA112E2,1.622628e+12,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,1,423A1CA112E2,1.622628e+12,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,2,423A1CA112E2,1.622628e+12,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,3,423A1CA112E2,1.622628e+12,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,4,423A1CA112E2,1.622628e+12,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...
...,...,...,...,...,...,...,...,...,...
495,495,354946A1CA46,1.623079e+12,2657.0,2824.0,Opponents whose work depends on a cell phone l...,Counterclaim,Counterclaim 2,450 451 452 453 454 455 456 457 458 459 460 46...
496,496,354946A1CA46,1.623079e+12,2824.0,2941.0,"However, because of their habits, they can cre...",Rebuttal,Rebuttal 2,479 480 481 482 483 484 485 486 487 488 489 49...
497,497,354946A1CA46,1.623079e+12,2942.0,3309.0,Business issues can be stressful and dangerous...,Evidence,Evidence 4,497 498 499 500 501 502 503 504 505 506 507 50...
498,498,354946A1CA46,1.623079e+12,3310.0,3566.0,Everyday people die in car accidents because t...,Concluding Statement,Concluding Statement 1,560 561 562 563 564 565 566 567 568 569 570 57...
499,499,F3E71A1A4F8B,1.622669e+12,0.0,129.0,Driving while on your cellphone is a safety ha...,Position,Position 1,0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18...

In [315]:
def create_gaps(df):
    #first order to make sure 
    df_=df.sort_values(['id','discourse_start']).reset_index(drop=True)
    gaps_df = pd.DataFrame(columns=df.columns)
    counter_none=0
    for i in range(1,len(df_)):
    #CASE WHEN NEW ESSAY
        if df_.loc[i,'id']!=df_.loc[i-1,'id'] :
            counter_none=0
            #CASE WHEN NEW ESSAY BEGINNING IS NOT LABELLED
            if df_.loc[i,'discourse_start']!=0:
                ## APPEND SAVE DF
                counter_none+=1
                gaps_df=gaps_df.append(dict(id=df_.loc[i,'id'],
                                       discourse_start=0,
                                       discourse_end=df_.loc[i,'discourse_start']-1,
                                       discourse_type = 'None',
                                       discourse_type_num = f'None {counter_none}'),ignore_index=True)
                
                
            #REGULAR CASE : THE CURRENT LINE BELONGS TO THE SAME ESSAY AS THE PREVIOUS ONE
        else:
            #CASE WHEN IT IS NOT CONTINUOUS WITH THE PREVIOUS ONE
            if df_.loc[i-1,'discourse_end'] +1 != df_.loc[i,'discourse_start']:
                counter_none+=1
                gaps_df=gaps_df.append(dict(id=df_.loc[i,'id'],
                                   discourse_start=df_.loc[i-1,'discourse_end']+1,
                                   discourse_end=df_.loc[i+1,'discourse_start']-1,
                                   discourse_type = 'None',
                                   discourse_type_num = f'None {counter_none}'),ignore_index=True)
    
    gaps_df=gaps_df.merge(essays_df,right_index=True,left_on='id')
    
    return gaps_df

In [318]:
def slicer(df):
    return df['text'][int(df['discourse_start']):int(df['discourse_end'])]

In [324]:
df_filled = create_gaps(df)

In [325]:
df_filled['discourse_text'] = df_filled.apply(slicer,axis=1)

In [326]:
df_filled

,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring,text
0,0000D23A521A,NaN,171.0,357.0,"t was not created by aliens, and there is no c...",None,None 1,NaN,"Some people belive that the so called ""face"" o..."
1,0000D23A521A,NaN,439.0,626.0,"his ""face"" on mars only looks like a face beca...",None,None 2,NaN,"Some people belive that the so called ""face"" o..."
2,0000D23A521A,NaN,723.0,835.0,hese people would be very wrong. If NASA found...,None,None 3,NaN,"Some people belive that the so called ""face"" o..."
3,0000D23A521A,NaN,837.0,1014.0,"ASA's budget would increase drasticly, which m...",None,None 4,NaN,"Some people belive that the so called ""face"" o..."
4,00066EA9880D,NaN,593.0,737.0,\nOne thing that the article mentions is that ...,None,None 1,NaN,Driverless cars are exaclty what you would exp...
...,...,...,...,...,...,...,...,...,...
47676,FFF868E06176,NaN,325.0,501.0,\nOne reason students should be allowed to cre...,None,None 1,NaN,"Every summer break, students are given project..."
47677,FFF868E06176,NaN,915.0,1088.0,\nAnother reason students would make the summe...,None,None 2,NaN,"Every summer break, students are given project..."
47678,FFFD0AF13501,NaN,0.0,236.0,"In the article ""A Cowboy Who Rode the Waves"" L...",None,None 1,NaN,"In the article ""A Cowboy Who Rode the Waves"" L..."
47679,FFFD0AF13501,NaN,432.0,516.0,ven if you just want to help out your world ou...,None,None 2,NaN,"In the article ""A Cowboy Who Rode the Waves"" L..."
47680,FFFD0AF13501,NaN,944.0,1050.0,"In conclusion, all i'm saying is that the seag...",None,None 3,NaN,"In the article ""A Cowboy Who Rode the Waves"" L..."

In [328]:
df_full = df.append(df_filled.drop(columns='text'))

In [329]:
df_full

,id,discourse_id,discourse_start,discourse_end,discourse_text,discourse_type,discourse_type_num,predictionstring
0,423A1CA112E2,1.622628e+12,8.0,229.0,Modern humans today are always on their phone....,Lead,Lead 1,1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 1...
1,423A1CA112E2,1.622628e+12,230.0,312.0,They are some really bad consequences when stu...,Position,Position 1,45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
2,423A1CA112E2,1.622628e+12,313.0,401.0,Some certain areas in the United States ban ph...,Evidence,Evidence 1,60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75
3,423A1CA112E2,1.622628e+12,402.0,758.0,"When people have phones, they know about certa...",Evidence,Evidence 2,76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 9...
4,423A1CA112E2,1.622628e+12,759.0,886.0,Driving is one of the way how to get around. P...,Claim,Claim 1,139 140 141 142 143 144 145 146 147 148 149 15...
...,...,...,...,...,...,...,...,...
47676,FFF868E06176,NaN,325.0,501.0,\nOne reason students should be allowed to cre...,None,None 1,NaN
47677,FFF868E06176,NaN,915.0,1088.0,\nAnother reason students would make the summe...,None,None 2,NaN
47678,FFFD0AF13501,NaN,0.0,236.0,"In the article ""A Cowboy Who Rode the Waves"" L...",None,None 1,NaN
47679,FFFD0AF13501,NaN,432.0,516.0,ven if you just want to help out your world ou...,None,None 2,NaN
47680,FFFD0AF13501,NaN,944.0,1050.0,"In conclusion, all i'm saying is that the seag...",None,None 3,NaN

In [330]:
discourse_type

['Lead',
 'Position',
 'Evidence',
 'Claim',
 'Concluding Statement',
 'Counterclaim',
 'Rebuttal']

In [336]:
colors={'Lead':'#DB3838',
 'Position':'#AAE10D',
 'Evidence':'#0DE1A7',
 'Claim':'#DF3CEC',
 'Concluding Statement':'#1305B9',
 'Counterclaim':'#FFF942',
 'Rebuttal':'#FFCE26',
       'None':'#FFFFFF'}

In [334]:
def render_html(df):
    return f"<span style='background-color: {colors[df['discourse_type']]}'> {df['discourse_text']} </span>"

In [337]:
df_full['html']=df_full.apply(render_html,axis=1)

In [351]:
df_full.sort_values(['id','discourse_start'],inplace=True)

In [352]:
df_html = df_full.groupby('id').agg({'html': ' '.join})

In [353]:
df_html.reset_index(inplace=True)

In [356]:
HTML(df_html.loc[98,'html'])

In [359]:
## APPLY GAP FUNCTION TO A SMALL DF FOR SPECIFIC ESSAY ID >TO SPOT THE ISSUE